<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="author" content="Ricardo D. Quiroga -> L2Radamanthys"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>

    <title>
        {{ page_title }}
    </title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ css_template }}">
    <script language="JavaScript" type="text/javascript" src="/site_media/scripts/utils.js"></script>
</head>

<body>
    <div align='center'>
    <table style="text-align: left;" border="0" cellpadding="5" cellspacing="2" width="900px">
        <tr>
            <td class='celda_superior' colspan='2'>
            <img stile="float: left;" src='/site_media/imagenes/baner_logo.png' width="140px" height="40px">
            <a href="{{ url_action }}" class='login_rect'><img src='/site_media/imagenes/{{ login_img }}' alt='{{ login_status }}' border='0px' width="12px" height="12px"/>{{ user }}</a>
            </td>
        </tr>

        <tr>
            <td class='celda_izquierda' valign='top' width='165px' height='500px;' >

                <!--span class='title_menu'><a onClick="desplegar('menu_1')">Secciones</a></span>
                <div id='menu_1' class='hide_nav_menu'-->
                <!-- span class='title_menu'><a>Secciones</a></span -->
                <h3>Menu Principal</h3>
                <ul id='menu_1' class="menu_nav">
                    <li class='title_menu'><a href='/'><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Home/Inicio</a></li>

                    

                    
                    {% if nivel_0 %}
                        <li class='title_menu'><a href='/accounts/login/' style="color: #00AA00;"><img src="/site_media/imagenes/flecha_iten.png" align="top"  style="margin-right: 5px">Conectarse</a></li>
                        <span class='title_menu'><a href='/pacientes/nuevo/' style="color: #0080FF;"><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Registrarse</a></span>
                    {% endif %}
                    {% if nivel_2 and not nivel_3 %}
                        <li class='title_menu'><a href='/area?opcion=gt' style="color:#0080FF;"><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Gestion Turnos</a></li>
                        <li class='title_menu'><a href='/area?opcion=hc' style="color:#008000;"><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Historia Clinica</a></li>
                    {% endif %}

                    {% if nivel_1 %}
                        <li class='title_menu'><a href='/accounts/logout/'><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Desconectarse</a></li>
                    {% endif %}
                    
                    {% if super_admin %}
                        <li class='title_menu'><a href='/admin/' style="color: #EF4811"><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Admnistracion de Sitio</a></li>
                    {% endif %}
                </ul>

                {% if nivel_1 %}
                    <span class='title_menu'><a onClick="desplegar('menu_2')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Mis Datos</a></span>
                    <ul id='menu_2' class='hide_nav_menu'>
                        <li><a href='/accounts/datos-personales/'>Datos Personales</a></li>
                        <li><a href='/accounts/modificar-datos-personales/'>Modificar Datos</a></li>
                        <li><a href='/accounts/change_password/'>Cambio Contraseña</a></li>
                    </ul>
                {% endif %}

                

            <!-- Menu Gestion Turnos -->
            {%if menu_area %}
                <h3>Gestion Turnos</h3>
                {% if nivel_2 %}
                    <span class='title_menu'><a onClick="desplegar('menu_3')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Pacientes</a></span>
                    <ul id='menu_3' class='hide_nav_menu'>
                    <li><a href='/pacientes/buscar/'>buscar</a></li>
                    <li><a href='/pacientes/listado/'>Listado</a></li>
                    <li><a href='/pacientes/nuevo/'>Nuevo</a></li>
                    </ul>
                {% endif %}

                    <span class='title_menu'><a onClick="desplegar('menu_4')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Medicos</a></span>
                    <ul id='menu_4' class='hide_nav_menu'>
                {% if nivel_3 %}
                   <li><a href='/medicos/buscar/'>buscar</a></li>
                {% endif %}
                    <li><a href='/medicos/listado/'>Listado</a></li>
                {% if nivel_3 %}
                    <li><a href='/medicos/nuevo/'>Nuevo</a></li>
                {% endif %}
                    </ul>

                {% if nivel_3 %}
                    <span class='title_menu'><a onClick="desplegar('menu_5')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Administrativos</a></span>
                    <ul id='menu_5' class='hide_nav_menu'>
                    <li><a href='/administrativos/buscar/'>buscar</a></li>
                    <li><a href='/administrativos/listado/'>Listado</a></li>
                    <li><a href='/administrativos/nuevo/'>Nuevo</a></li>
                    </ul>
                {% endif %}

                {% if nivel_2 %}
                <span class='title_menu'><a onClick="desplegar('menu_6')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Especialidades</a></span>
                    <ul id='menu_6' class='hide_nav_menu'>
                    <li><a href='/medicos/especialidades/agregar'>Agregar</a></li>
                    <li><a href='/medicos/especialidades/listado'>Listado</a></li>
                    </ul>
                {% endif %}

                 <br />

                <!-- menu paciente -->
                {% if nivel_1 and not nivel_2 and not nivel_3 %}
                <span class='title_menu'><a onClick="desplegar('menu_7')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Mi Menu</a></span>
                    <ul id='menu_7' class='nav_menu'>
                        <li><a href='/pacientes/turnos/nueva-solicitud/'>Nueva Solicitud Turno</a></li>
                        <li><a href='/pacientes/turnos/listado-solicitudes'>Listado Solicitudes Turno</a></li>
                        <li><a href='/pacientes/turnos/listado-turnos/'>Turnos Asignados</a></li>
                    </ul>
                {% endif %}

                <!-- menu medico -->
                {% if nivel_2 and not nivel_3 %}
                <span class='title_menu'><a onClick="desplegar('menu_7')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Mi Menu</a></span>
                    <ul id='menu_7' class='nav_menu'>
                        <li><a href='/medicos/turnos/listado-solicitudes/{{ user_id }}'>Solicitudes de Turno</a></li>
                        <li><a href='/medicos/turnos/nuevo-turno/{{ user_id }}'>Nuevo Turno</a></li>
                        <li><a href='/medicos/agregar-especialidades/{{ user_id }}'>Mis Expecialidades</a></li>
                        <li><a href='/medicos/horario-atencion/agregar/{{ user_id }}'>Agregar Horarios Atencion</a></li>
                    </ul>
                {% endif %}


                <!-- menu administrativo -->
                {% if nivel_3 %}
                <span class='title_menu'><a onClick="desplegar('menu_7')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Mi Menu</a></span>
                    <ul id='menu_7' class='nav_menu'>
                        <li><a href='/administrativos/turnos/nuevo-turno/'>Nuevo Turno</a></li>
                    </ul>
                {% endif %}


            <!-- Menu de Historia Clinica -->
            {% else %}
                <h3>Historias Clinica</h3>
                <!--{% if nivel_1 and not nivel_2 %}
                    <span class='title_menu'><a href="">Mi Historia Clinica</a></span>
                {% endif %} -->
                
                {% if nivel_2 and not nivel_3 %}
                <!-- span class='title_menu'><a onClick="desplegar('menu_8')"><img src="/site_media/imagenes/flecha_menu.png" align="top" style="margin-right: 5px">Menu</a></span -->
                <ul id='menu_8' class='menu_nav'>
                    <li class='title_menu'><a href='/historia-clinica/nueva/'><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Nueva Historia Clinica</a></li>
                    <!-- desactivado por el momento li><a href='/historia-clinica/buscar-pacientes/'>Buscar Paciente</a></li -->
                    <li class='title_menu'><a href='/historia-clinica/listado-pacientes/'><img src="/site_media/imagenes/flecha_iten.png" align="top" style="margin-right: 5px">Listado Historia Clinica</a></li>
                </ul>
                {% endif %}
                
            {% endif %}

	        {% block cont_sec %}
            {% endblock %}
            </td>

            <td class='celda_central' valign='top' align="center" style='min-height:800px;'>
                {% if not sin_titulo %}
                    <h1> {{ titulo }} </h1>
                {% endif %}

                {% block contenido %}
                {% endblock %}
            </td>
        </tr>

        <tr>
            <td class='celda_inferior' colspan='2'>
                {% if nivel_0 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                {% if nivel_1 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                {% if nivel_2 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                {% if nivel_3 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                <label>USER ROL: {{ user_rol }}</label>
            </td>


        </tr>

    </table>
    </div>
</body>
</html>


