<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="author" content="Ricardo D. Quiroga -> L2Radamanthys"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>

    <title>
        {{ page_title }}
    </title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ css_template }}">
    <!--script language="JavaScript" type="text/javascript" src=""></script -->
</head>

<body>
    <div align='center'>
    <table style="text-align: left;" border="1" cellpadding="5" cellspacing="0" width="900px">
        <tr>
            <td colspan='2'>
            <h1> {{ cabecera }} </h1>
            </td>
        </tr>

        <tr>
            <td width='200px'  valign='top'>
                {% block cont_sec %}
                {% endblock %}

                <a href='/'>Inicio</a><br />
                <h3>Pacientes</h3>
                <a href='pacientes/listado/'>Listado</a><br />
                <a href='pacientes/nuevo/'>Nuevo</a><br />
                <a href='pacientes/modificar/'>Modificar Datos</a><br />
                <a href='pacientes/borrar/'>Borrar</a><br />




                <div class='{{ login_status }}'>
                    <a href="{{ url_action }}">{{ login_status }}</a>
                </div>

            </td>

            <td  valign='top'>
                <h1> {{ titulo }} </h1>

                {% block contenido %}
                {% endblock %}
            </td>
        </tr>

        <tr>
            <td colspan='2'>
            </td>
        </tr>

    </table>
    </div>
</body>
</html>

