<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="author" content="Ricardo D. Quiroga -> L2Radamanthys"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>

    <title>
        {{ page_title }}
    </title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ css_template }}">
    <script language="JavaScript" type="text/javascript" src="/site_media/scripts/utils.js"></script>
</head>

<body>
    <div align='center'>
    <table style="text-align: left;" border="0" cellpadding="5" cellspacing="2" width="900px">
        <tr>
            <td class='celda_superior' colspan='2'>
            <img src='/site_media/imagenes/baner_logo.png'>
            <br /><br /><br />
            <a href="{{ url_action }}" class='login_rect'><img src='/site_media/imagenes/{{ login_img }}' alt='{{ login_status }}' border='0px'/>{{ user }}</a>
            </td>
        </tr>

        <tr>
            <td class='celda_izquierda' valign='top' width='150px' >
                {% block cont_sec %}
                {% endblock %}

                <span class='title_menu'><a onClick="desplegar('menu_1')">Secciones</a></span>
                <div id='menu_1' class='hide_nav_menu'>
                <ul>
                    <li><a href='/'>Inicio</a><li/>
                    <li><a href='/area?opcion=gt'>Gestion Turnos</a><li/>
                    <li><a href='/area?opcion=hc'>Historia Clinica</a><li/>
                    {% if nivel_0 %}
                    <li><a href='/accounts/login/'>Entrar</a><li/>
                    {% endif %}
                    {% if nivel_1 %}
                    <li><a href='/accounts/logout/'>Salir</a><li/>
                    {% endif %}
                </ul>
                </div>

                {% if nivel_1 %}
                    <span class='title_menu'><a onClick="desplegar('menu_2')">Usuario</a></span>
                    <div id='menu_2' class='hide_nav_menu'>
                    <ul>
                    <li><a href='/accounts/datos-personales/'>Datos Personales</a><li/>
                    <li><a href='/accounts/modificar-datos-personales/'>Modificar Datos</a><li/>
                    <li><a href='/accounts/change_password/'>Cambio Contraseña</a><li/>
                    </ul>
                    </div>
                {% endif %}

            <!-- Menu Gestion Turnos -->
            {%if menu_area %}


                {% if nivel_0 %}
                    <span class='title_menu'><a onClick="desplegar('menu_3')">Pacientes</a></span>
                    <div id='menu_3' class='hide_nav_menu'>
                    <ul>
                        <li><a href='/pacientes/nuevo/'>Nuevo</a><li/>
                    </ul>
                    </div>
                {% endif %}

                {% if nivel_2 %}
                    <span class='title_menu'><a onClick="desplegar('menu_3')">Pacientes</a></span>
                    <div id='menu_3' class='hide_nav_menu'>
                    <ul>
                    <li><a href='/pacientes/buscar/'>buscar</a><li/>
                    <li><a href='/pacientes/listado/'>Listado</a><li/>
                    <li><a href='/pacientes/nuevo/'>Nuevo</a><li/>
                    </ul>
                    </div>
                {% endif %}

                    <span class='title_menu'><a onClick="desplegar('menu_4')">Medicos</a></span>
                    <div id='menu_4' class='hide_nav_menu'>
                    <ul>
                {% if nivel_3 %}
                   <li><a href='/medicos/buscar/'>buscar</a><li/>
                {% endif %}
                    <li><a href='/medicos/listado/'>Listado</a><li/>
                {% if nivel_3 %}
                    <li><a href='/medicos/nuevo/'>Nuevo</a><li/>
                {% endif %}
                    </ul>
                    </div>

                {% if nivel_3 %}
                    <span class='title_menu'><a onClick="desplegar('menu_5')">Administrativos</a></span>
                    <div id='menu_5' class='hide_nav_menu'>
                    <ul>
                    <li><a href='/administrativos/buscar/'>buscar</a><li/>
                    <li><a href='/administrativos/listado/'>Listado</a><li/>
                    <li><a href='/administrativos/nuevo/'>Nuevo</a><li/>
                    </ul>
                    </div>
                {% endif %}

                <span class='title_menu'><a onClick="desplegar('menu_6')">Especialidades</a></span>
                    <div id='menu_6' class='hide_nav_menu'>
                    <ul>
                    <li><a href='/medicos/especialidades/agregar'>Agregar</a><li/>
                    <li><a href='/medicos/especialidades/listado'>Listado</a><li/>
                    </ul>
                </div>

                <span class='title_menu'><a onClick="desplegar('menu_7')">Menu</a></span>
                    <div id='menu_7' class='hide_nav_menu'>
                    <ul>
                        <li><a href='/medicos/agenda/agregar-turno/'>Nuevo Turno</a><li/>
                    </ul>
                </div>

            <!-- Menu de Historia Clinica -->
            {% else %}

                <span class='title_menu'><a onClick="desplegar('menu_8')">DatosBase</a></a></span>
                <div id='menu_8' class='hide_nav_menu'>
                <ul>
                    <li><a href='/historia-clinica/nueva/'>Nueva Historia Clinica</a><li/>
                    <li><a href='/accounts/modificar-datos-personales/'>Modificar Datos</a><li/>
                </ul>
                </div>

            {% endif %}
                <br />
                <br />

            </td>

            <td class='celda_central' valign='top'>
                <h1> {{ titulo }} </h1>

                {% block contenido %}
                {% endblock %}
            </td>
        </tr>

        <tr>
            <td class='celda_inferior' colspan='2'>
                {% if nivel_0 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                {% if nivel_1 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                {% if nivel_2 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

                {% if nivel_3 %}
                    <img src='/site_media/imagenes/icon-yes.gif'>
                {% else %}
                    <img src='/site_media/imagenes/icon-no.gif'>
                {% endif %}

            </td>


        </tr>

    </table>
    </div>
</body>
</html>


