<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="author" content="Ricardo D. Quiroga -> L2Radamanthys"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>

    <title>
        {{ page_title }}
    </title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ css_template }}">
    <!--script language="JavaScript" type="text/javascript" src=""></script -->
</head>

<body>
    <div align="center">
    <div class='cont_flotante'>
    <h4 class='title_ventana'>Cambio Contraseña</h4>
	
    <form action='/accounts/change_password/'  method='post'>
    <table border='0' cellpadding='0'>
        <!--tr>
            <td><label>Usuario</label></td>
            <td><input type="text" name="username" value="" id="username" /></td>
        </tr-->
        <tr>
            <td><label>Contraseña Anterior:</label></td>
            <td><input type="password" name="password_old" value="" id="password" /></td>
        </tr>
        <tr>
            <td><label>Nueva Contraseña:</label></td>
            <td><input type="password" name="password_new0" value="" id="password" /></td>
        </tr>
        <tr>
            <td><label>Repetir Nueva Contraseña:</label></td>
            <td><input type="password" name="password_new1" value="" id="password" /></td>
        </tr>
        <tr>
            <td colspan='2' align='center'>
            <input type="hidden" name="query" value="1"/>
            <input type='Submit' value='Cambiar' />
            <input type='Reset' value='Limpiar' />
            </td>
        </tr>
    </table>
    </form>
    </div>
    <br />
    {% if query %}
        <div class='{{ msj_class }}'>
        <p>{{ mensaje }} </p>
        </div>
    {% endif %}
    <br />
    <a href='/' class='boton'>Volver al Inicio</a>	
	</div>
</body>
</html>

