<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="author" content="Ricardo D. Quiroga -> L2Radamanthys"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>

    <title>
        {{ page_title }}
    </title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ css_template }}">
</head>

<body>
<!-- form validator -->
<script type="text/javascript" src="/site_media/scripts/jquery.js"></script>
<script type="text/javascript" src="/site_media/scripts/ValidateForm.js"></script>
<script type="text/javascript">
var validator = new Validator({
    "pswd_1": { "method":"rangelenght", "min":6, "max":16, "msj":"Error la longitud del campo dever ser de entre 6 y 16 caracteres" },
    "pswd_2": { "method":"compare", "other":"pswd_1", "msj":"Error las contraseñas deben coincidir" },
});
</script>


    <div align="center">

    <div class="barra_superior">
        <a href='/' class='boton'><span>Volver al Inicio</span></a>
    </div>

    <br />
    <br />
    <br />

    <div class='window' style="width:400px;">
    <div class="win_title_bar">
        <div class="window_title">
            <label>Cambio Contraseña</label>
        </div>
    </div>
        <form action='/accounts/change_password/'  method='post' id="mi_form">
        <table border='0' cellpadding='0' cellspacing="3px">

        <tr>
            <td><label>Contraseña Anterior:</label></td>
            <td><input class='edt_m' type="password" name="password_old" value="" id="password" /></td>
        </tr>
        <tr>
            <td><label>Nueva Contraseña:</label></td>
            <td><input class='edt_m' type="password" name="password_new" value="" id="pswd_1" /></td>
        </tr>
        <tr><td colspan="2"><span id="error_1"></span></td></tr>
        <tr>
            <td><label>Repetir Nueva Contraseña:</label></td>
            <td><input class='edt_m' type="password" name="password_new1" value="" id="pswd_2" /></td>
        </tr>
        <tr><td colspan="2"><span id="error_2"></span></td></tr>
        <tr>
            <td colspan='2' align='center'>
            <br />
            <input type="hidden" name="query" value="1"/>
            <input type='button' value='Cambiar' class='boton' onClick="validator.evalAndSend('mi_form')"/>
            <input type='Reset' value='Limpiar' class='boton' onClick="clearAllMsj()"/>
            </td>
        </tr>
        </table>
        </form>
    </div>

    
    <br />
    {% if query %}
        <div class='{{ msj_class }}'>
        <p>{{ mensaje }} </p>
        </div>
    {% endif %}
    <br />
    
    </div>
</body>
</html>

