<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="author" content="Ricardo D. Quiroga -> L2Radamanthys"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>

    <title>
        {{ page_title }}
    </title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ css_template }}">
    <!--script language="JavaScript" type="text/javascript" src=""></script -->
</head>

<body>
    <div align="center">
        <div class="barra_superior">
        <a href='/' class='boton'><span>Volver al Inicio</span></a>
    </div>

    <br />
    <br />
    <br />

    <div class='window' style="width:400px;">
    <div class="win_title_bar">
        <div class="window_title">
            <label>Login</label>
        </div>
    </div>
    
    <form action='/accounts/login/'  method='post'>
    <table border='0' cellpadding='0'>
        <tr>
            <td><label>Usuario</label></td>
            <td><input class='edt_m' type="text" name="username" value="" id="username" /></td>
        </tr>
        <tr>
            <td><label>Contraseña:</label></td>
            <td><input class='edt_m' type="password" name="password" value="" id="password" /></td>
        </tr>
        <tr>
            <td colspan='2' align='center'>
            <br />
            <input type="hidden" name="query" value="1"/>
            <input type='Submit' value='Conectar' class='boton'/>
            <input type='Reset' value='Limpiar' class='boton'/>
            </td>
        </tr>
    </table>
    </form>
    </div>
    <br />
    {% if query %}
        <div class='{{ msj_class }}'>
        <p>{{ mensaje }} </p>
        </div>
    {% endif %}

    </div>

</body>
</html>

