{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}

{% block hc_contenido %}

<table>
    <form action="" method="post">
    <tr><td><label>Fecha</label></td><td><input name="fecha" class="edt_c" value="01/01/1900" type="text"  /></td></tr>
    <tr><td><label>Descripcion</label></td><td><input name="descripcion" class="edt_g" type="text"  /></td></tr>
    <tr><td><label>Tipo Dosis</label></td>
    <td><select name="tipo_dosis" class="edt_m">
       {% for dosis in tipo_dosis %}
            <option value='{{ dosis|slice:"0:"|first }}'>{{ dosis|slice:"1:"|first }}</option>
       {% endfor %}
    </select>
    </td></tr>
    <tr><td colspan="2">
        <input class='boton' type="submit" value="Crear"  />
        <input class='boton' type="reset" value="Limpiar"  /></td>
    </tr>
    </form>
</table>

{% endblock %}
