{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}

{% block hc_contenido %}
<div align="center">
    <table>
        <tr>
            <td colspan="5" class='tbl_separador' width="500px" border="1px"><h5>Vacunas</h5></td>
        </tr>

        <tr class='table_title'>
            <td>Fecha</td>
            <td>Descripcion</td>
            <td>Tipo Dosis</td>
            <td>Modificar</td>
            <td>Borrar</td>
        </tr>

        {% for vac in vacunas %}
            <tr class='{{ vac|slice:"4:"|first }}'>
                <td>{{ vac|slice:"1:"|first }}</td>
                <td>{{ vac|slice:"2:"|first }}</td>
                <td>{{ vac|slice:"3:"|first }}</td>
                <td><a href='/historia-clinica/modificar-vacuna/{{  vac|slice:"0:"|first }}'><img src="/site_media/imagenes/icon_edit.png" alt="Modificar"></a></td>
                <td><a onClick="answer_redirect('Desea Borrar: {{ vac|slice:'2:'|first }}','/historia-clinica/borrar-vacuna?vac_id={{ vac|slice:'0:'|first }}');"><img src="/site_media/imagenes/icon_borrar.png" alt="Borrar"></a></td>
            </tr>
        {% endfor %}
    </table>
    <br /><a href="/historia-clinica/agregar-vacuna/{{ pac_id }}/" class="boton">Agregar Vacuna</a>
</div>
{% endblock %}
