{% extends 'base.html' %}

{% block cont_sec %}
{% endblock %}

{% block contenido %}
    <div align='right'>
    <hr />
    <a class='boton' href='/medicos/modificar/{{ med_id }}/'>Nueva Hist Clinica</a>
    <hr />
    </div>
    
    <div align="center">
    <h5 class='tbl_separador'>Pacientes</h5>
    <ul class='listado-pac'>
    {% for pac in pacientes %}
        <li><a href='/historia-clinica/mostrar-datos-base/?pac_id={{ pac|slice:"0:"|first }}'><img src="/site_media/imagenes/document.png" width="24px" height="24px">&nbsp;{{ pac|slice:"1:"|first }}</a></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
