{% extends 'base.html' %}

{% block cont_sec %}
{% endblock %}

{% block contenido %}
    <div align="center">
    <table>
        <tr>
            <td class='tbl_separador' width="400px"><h5>Pacientes</h5></td>
        </tr>
            {% for pac in pacientes %}
            <tr>
                <td class='{{ pac|slice:"2:"|first }}'><a href='/historia-clinica/mostrar-datos-base/{{ pac|slice:"0:"|first }}'>{{ pac|slice:"1:"|first }}</a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}
