{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}

{% block contenido %}
    <h3>Datos Personales</h3>
    
    <table>
    <form action="" method="post"  >

    <!-- estos datos ya fueron definidos en modelos anteriores -.- (Paciente)
    <tr><td><label>DNI</label></td><td><input name="dni" class="edt_m" type="text"  /></td></tr>
    <tr><td><label>Sexo</label></td>
    <td><select name="sexo" class="edt_m">
            <option value="-">No Definido</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
    </td></tr>
     -->

    <tr><td><label>Nombre:</label></td><td><label>{{ pac_nombre }}</label></td></tr>
    <tr><td><label>DNI:</label></td><td><label>{{ pac_dni }}</label></td></tr>


    <tr><td><label>Fecha Nacimiento</label></td><td><input name="fecha_nac" id="fecha_nac" class="edt_c" type="text" value="{{ hc.fecha_nacimiento|date:'d/m/Y' }}" /></td></tr>
    <tr><td><label>Lugar Nacimiento</label></td><td><input name="lugar_nac" class="edt_g" type="text" value="{{ hc.lugar_nacimiento }}" /></td></tr>

    <tr><td><label>Nombre del Padre</label></td><td><input name="padre" value="{{ hc.padre }}" class="edt_g" type="text"  /></td></tr>
    <tr><td><label>Nombre de la Madre</label></td><td><input name="madre" value="{{ hc.madre }}" class="edt_g" type="text"  /></td></tr>

    <tr><td><label>Grupo Sanguineo</label></td>
    <td><select name="grupo_sanguineo" class="edt_c">
            <option value="-">---</option>
        {% for grupo in grupos_sanguineos %}
            <option value="{{ grupo }}">{{ grupo }}</option>
        {% endfor %}
        </select>
    </td></tr>
    <tr><td><label>Estado Civil</label></td>
    <td><select name="estado_civil" class="edt_m">
            <option value="-">No Definido</option>
            <option value="S">Soltero</option>
            <option value="C">Casado</option>
            <option value="V">Viudo</option>
            <option value="D">Divorciado</option>
            <option value="U">Union Libre</option>
        </select>
    </td></tr>
    <tr><td><label>Ocupacion</label></td><td><input name="ocupacion" class="edt" value="{{ hc.ocupacion }}" type="text"  /></td></tr>
    <tr><td><label>Religion</label></td><td><input name="religion" class="edt" value="{{ hc.religion }}" type="text"  /></td></tr>

    <tr><td><label>Obra Social</label></td><td><input name="obra_social" class="edt" type="text" value="{{ hc.obra_social }}" /></td></tr>
    <tr><td><label>Nro Afiliado</label></td><td><input name="nro_afiliado" class="edt" type="text" value="{{ hc.nro_afiliado }}" /></td></tr>
    
    <tr><td colspan="2" align="center">
        <input type="hidden" value="1" name="query" />
        <input type="submit" value="Modificar" class="boton"/>
        <input type="reset" value="Limpiar" class="boton"/>
    </td></tr>
    </form>
    </table>


    {% if query %}
        <div class="{{ msj_class }}">
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}
    </div>


<!-- Inicio Date Selector Code -->
<script type="text/javascript" src="/site_media/scripts/DatePicker.js"></script>
<script type="text/javascript">
    DatePicker.SetUpElement("fecha_nac");
</script>

<!-- Fin Date Selector Code -->

{% endblock %}
