{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}


{% block contenido %}
<div align='right'>
    <hr />
    <a href="/historia-clinica/modificar-datos-base/?pac_id={{ pac_id }}" class="boton">Modificar</a>
    <hr />
    <h3>Datos Personales</h3>
</div>

<table width="600px" border="0" cellpadding="0" cellspacing="2">
<tbody>
    <tr class="field_a">
        <td><label><strong>Nombre:</strong></label></td><td><label>{{ nombre }}</label></td>
        <td><label><strong>Documento:</strong></label></td><td><label>{{ doc }}</label></td>
    </tr>
    <tr class="field_b">
        <td><label><strong>Lugar de Nacimiento:</strong></label></td><td><label>{{ lugar_nacimiento }}</label></td>
        <td><label><strong>Fecha de Nacimiento:</strong></label></td><td><label>{{ fecha_nacimiento }}</label></td>
    </tr>
    <tr class="field_a">
        <td><label><strong>Padre:</strong></label></td><td><label>{{ padre }}</label></td>
        <td><label><strong>Estado Civil:</strong></label></td><td><label>{{ estado_civil }}</label></td>
    </tr>
    <tr class="field_b">
        <td><label><strong>Madre:</strong></label></td><td colspan="3"><label>{{ madre }}</label></td>
    </tr>
    <tr class="field_a">
        <td><label><strong>Obra Social:</strong></label></td><td><label><label>{{ obra_social }}</label></td>
        <td><label><strong>Nro Afiliado:</strong></label></td><td><label><label>{{ nro_afiliado }}</label></td>
    </tr>

    <tr class="field_b">
        <td><label><strong>Sexo:</strong></label></td><td><label>{{ sexo }}</label></td>
        <td><label><strong>Grupo Sanguineo:</strong></label></td><td><label>{{ grupo_sanguineo }}</label></td>
    </tr>
</tbody>
</table>

{% endblock %}
