{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}


{% block hc_contenido %}

<table width="500px" border="0" cellpadding="0" cellspacing="2">
<tbody>
    <tr>
        <td colspan='4' class='tbl_separador'><h5>Identificacion</h5></td>
    </tr>
    <tr>
        <td><label><strong>Nombre:</strong></label></td><td>{{ nombre }}</td>
        <td><label><strong>DNI:</strong></label></td><td>{{ dni }}</td>
    </tr>
    <tr>
        <td><label><strong>Lugar de Nacimiento:</strong></label></td><td colspan="3">{{ lugar_nacimiento }}</td>
    </tr>
    <tr>
        <td><label><strong>Padre:</strong></label></td><td colspan="3">{{ padre }}</td>
    </tr>
    <tr>
        <td><label><strong>Madre:</strong></label></td><td colspan="3">{{ madre }}</td>
    </tr>
    <tr>
        <td><label><strong>Obra Social:</strong></label></td><td><label>{{ obra_social }}</td>
        <td><label><strong>Nro Afiliado:</strong></label></td><td><label>{{ nro_afiliado }}</td>
    </tr>

    <tr>
        <td><label><strong>Sexo:</strong></label></td><td>{{ sexo }}</td>
        <td><label><strong>Grupo Sanguineo:</strong></label></td><td>{{ grupo_sanguineo }}</td>
    </tr>
</tbody>
</table>

<br /><a href="" class="boton">Modificar</a>

{% endblock %}
