{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}

{% block contenido %}

<ul class="tab_list">
    <li><a href="/historia-clinica/mostrar-examen-base/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Examen Fisico Basico" class="tab">Examen Base</a></li>
    <li><a href="/historia-clinica/mostrar-examen-cardio-vascular/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Examen de Aparato Cardio Vascular" class="tab">Cardio Bascular</a></li>
    <li><a href="/historia-clinica/mostrar-examen-aparato-respiratorio/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Examen de Torax y Aparato Respiratorio" class="tab">Aparato Respiratorio</a></li>
    <li><a href="/historia-clinica/mostrar-examen-cabeza/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Examen de Cabeza" class="tab">Cabeza</a></li>
    <li><a href="/historia-clinica/mostrar-examen-cuello/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Examen de Cuello" class="tab">Cuello</a></li>
    <li><a href="/historia-clinica/mostrar-imagenes/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Imagenes" class="tab">Imagenes</a></li>
    <li><a href="/historia-clinica/mostrar-analisis-lab/?exam_id={{ exam_id }}&pac_id={{ pac_id }}" title="Analisis de Laboratorios" class="tab">Analisis Laboratorio</a></li>
    
</ul>

<ul class="tab_list">
    <li><a href="" title="Examen de Abdomen y Pelvis" class="tab">Abdomen Pelvis</a></li>
    <li><a href="" title="Examen Osteo Articular" class="tab">Osteo Articular</a></li>
    <li><a href="" title="Examen Neuro Muscular" class="tab">Neuro Muscular</a></li>
    <li><a href="" title="Examen de Piel Faneas y Tejido SubCutaneo" class="tab">Piel Faneas TSC</a></li>
    <li><a href="" title="Examen de Habitos Toxicos" class="tab">Habitos Toxicos</a></li>
    <li ><a href="" title="Otros Estudios" class="tab">Otros Estudios</a></li>
</ul>


{% block contenido_examen %}
{% endblock %}

{% endblock %}
