{% extends 'medicos/historia_clinica/examen_fisico/examen-base.html' %}

{% block contenido_examen %}


<div align="right">
    <a href="" class="boton">Modificar</a>
</div>
<hr />


<h3>Examen Base</h3>

<table>
	<tr class="field_a">
		<td><label>Fecha:</label></td>
        <td><label>{{ examen.date }}</label></td>
	</tr>
	<tr class="field_b">
		<td><label>Temperatura Corporal:</label></td>
		<td><label>{{ examen.temp_corporal }}</label></td>
	</tr>
	<tr class="field_a">
		<td><label>Presion Arterial Sistolica:</label></td>
		<td><label>{{ examen.pres_art_sist }}</label></td>
	</tr>
	<tr class="field_b">
		<td><label>Presion Arterial Dastolica:</label></td>
		<td><label>{{ examen.pres_art_diast }}</label></td>
	</tr>
	<tr class="field_a">
		<td><label>Frecuencia Respiratoria:</label></td>
		<td><label>{{ examen.frec_respiratoria }}</label></td>
	</tr>
	<tr class="field_b">
		<td><label>Pulso:</label></td>
		<td><label>{{ examen.pulso }}</label></td>
	</tr>
	<tr class="field_a">
		<td><label>Altura Media en Mtrs:</label></td>
		<td><label>{{ examen.altura_media }}</label></td>
	</tr>
	<tr class="field_b">
		<td><label>Peso Medio en Kgs:</label></td>
		<td><label>{{ examen.peso_medio }}</label></td>
	</tr>
	<tr class="field_a">
		<td><label>Altura en Mts:</label></td>
		<td><label>{{ examen.altura }}</label></td>
	</tr>
	<tr class="field_b">
		<td><label>Peso en Kgs:</label></td>
		<td><label>{{ examen.peso }}</label></td>
	</tr>
	<tr class="field_a">
		<td><label>Talla:</label></td>
		<td><label>{{ examen.talla }}</label></td>
	</tr>
	<tr class="field_b">
		<td><label>Indice de Masa Corporal (BMI) %:</label></td>
		<td><label>{{ examen.bmi }}</label></td>
	</tr>
	<tr class="field_a">
		<td><label>Imprecion General</label></td>
		<td><textarea name="imprecion_general" class="edt" rows="4" cols="40" readonly>{{ examen.imprecion_general }}</textarea></td>
	</tr>
</table>


{% endblock %}
