{% extends 'base.html' %}

{% block cont_sec %}
{% endblock %}

{% block contenido %}
    <span align="left"><label>Medico: {{ med_name }}</label></span>
    <hr />
    <div align='center'>
    <form action="" method="POST" enctype="text/plain">
    <table style="text-align: left;" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td><label>Dia:</label></td>
            <td>
            <select name="dia">
                <option value='LUN'>Lunes</option>
                <option value='MAR'>Martes</option>
                <option value='MIE'>Miercoles</option>
                <option value='JUE'>Jueves</option>
                <option value='VIE'>Viernes</option>
                <option value='SAB'>Sabado</option>
                <option value='DOM'>Domingo</option>
            </select>
            </td>
        </tr>
        <tr>
            <td><label>Hora Inicio:</label></td>
            <td>
            <select name='hora_ini_hh'>
                {% for h in horas %}
                    <option value='{{ h }}'>{{ h }}</option>
                {% endfor %}
            </select>
                <label>:</label>
            <select name='hora_ini_mm'>
                {% for m in minutos %}
                    <option value='{{ m }}'>{{ m }}</option>
                {% endfor %}
            </select>
            </td>
        </tr>

        <tr>
            <td><label>Hora Finalizacion:</label></td>
            <td>
            <select name='hora_fin_hh'>
                {% for h in horas %}
                    <option value='{{ h }}'>{{ h }}</option>
                {% endfor %}
            </select>
                <label>:</label>
            <select name='hora_fin_mm'>
                {% for m in minutos %}
                    <option value='{{ m }}'>{{ m }}</option>
                {% endfor %}
            </select>
            </td>
        </tr>

        <tr>
            <td><label>Duracion Turno (Minutos):</label></td>
            <td><input  type='text' name='turno' value='15' class='edt_mc' style="text-align: right;" /></td>
        </tr>

        <tr>
            <td><label>Duracion Intervalo (Minutos):</label></td>
            <td><input type='text' name='intervalo' value='0' class='edt_mc' style="text-align: right;"/></td>
        </tr>

        <!-- tr>
            <td><label>Especialidad:</label></td>
            <td>
                <select name='especialidad'>
                {% for esp in especialidades %}
                    <option value='{{ esp|slice:"0:"|first }}'>{{ esp|slice:"1:"|first }}</option>
                {% endfor %}
                </select>
            </td>
        </tr -->

        <tr>
            <td>
            <input type="submit" name="Agregar" value="Agregar" class='boton'/>
            </td>
            <td colspan='2' align='center'>
            <input type="hidden" name="query" value="1"/>
        </td>
        </tr>
        </tbody>
    </table>
    </form>

    {% if query %}
        <div class="{{ msj_class }}">
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}

    <hr />

    <table border="0" width='500px' cellpadding="2" cellspacing="2">
        <tr class='table_title'>
            <td>Dia</td>
            <td>Inicio</td>
            <td>Fin</td>
            <td width="70px">Modificar</td>
            <td width="70px">Borrar</td>
        </tr>
    {% for h in horarios_atencion %}
        <tr class='{{ h|slice:"0:"|first }}'>
            <td>{{ h|slice:"1:"|first }}</td>
            <td>{{ h|slice:"2:"|first }}</td>
            <td>{{ h|slice:"3:"|first }}</td>
            <td align="center"><a href=""><img src="/site_media/imagenes/icon_edit.png"></a></td>
            <td align="center"><a href=""><img src="/site_media/imagenes/icon_borrar.png"></a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
