{% extends 'base.html' %}

{% block cont_secundario %}
{% endblock %}

{% block contenido %}
<!--- botones de accion -->
<div align='right'>
    <hr />
    <a class='boton' href='/medicos/modificar/{{ med_id }}/'>Modificar</a>
    <a class='boton' href='/medicos/borrar/{{ med_id }}/'>Borrar</a>
    <a class='boton' href='/'>Volver al Inicio</a>
    <hr />
</div>
<br />

<!-- detalles -->
<table style="text-align: left;" border="0" width='400px' cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td class='field_b'><label>Usuario:</label></td>
            <td class='field_a'><label>{{ username }}</label></td>
        </tr>

        <tr>
            <td class='field_b'><label>Nombre:</label></td>
            <td class='field_a'><label>{{ nombre }}</label></td>
        </tr>

        <tr>
            <td class='field_b'><label>Matricula:</label></td>
            <td class='field_a'><label>{{ matricula }}</label></td>
        </tr>

        <tr>
            <td class='field_b'><label>Direccion:</label></td>
            <td class='field_a'><label>{{ direccion }}</label></td>
        </tr>

        <tr>
            <td class='field_b'><label>Telefono:</label></td>
            <td class='field_a'><label>{{ telefono }}</label></td>
        </tr>

        <tr>
            <td class='field_b'><label>Email:</label></td>
            <td class='field_a'><label>{{ email }}</label></td>
        </tr>

        <tr>
            <td class='field_b'><label>Sexo:</label></td>
            <td class='field_a'><label>{{ sexo }}</label></td>
        </tr>
    </tbody>
</table>

<hr />

<!-- especialidades -->
<span class='cat_title'>Expecialidades</span>
<span class='cat_link'><a href='/medicos/agregar-especialidades/{{ med_id }}/'>Agregar</a></span>
<span class='cat_link'><a href='/medicos/modificar-especialidades/{{ med_id }}/'>Modificar</a></span>
<span class='cat_link'><a href='/medicos/borrar-especialidades/{{ med_id }}/'>Borrar</a></span>
<div class='cat_line'></div>

<table style="text-align: left;" border="0" width='400px' cellpadding="2" cellspacing="2">
<tbody>
    <!--tr class='table_title'>
        <td>Especialidades</td>
    </tr-->
    {% for esp in especialidades %}
        <tr class='{{ esp|slice:"1:"|first }}'>
            <td>{{ esp|slice:"0:"|first }}</td>
        </tr>
    {% endfor %}

</tbody>
</table>
<br />

<span class='cat_title'>Horarios Atencion</span>
<span class='cat_link'><a href='/medicos/horario-atencion/agregar/{{ med_id }}/'>Agregar</a></span>
<span class='cat_link'><a href='/medicos/horario-atencion/modificar/{{ med_id }}/'>Modificar</a></span>
<span class='cat_link'><a href='/medicos/horario-atencion/borrar/{{ med_id }}/'>Borrar</a></span>
<div class='cat_line'></div>

<table border="0" width='400px' cellpadding="2" cellspacing="2">
    <tbody>
        <tr class='table_title'>
            <td>Dia</td>
            <td>Inicio</td>
            <td>Fin</td>
            <td>Medico</td>
            <td>Expecialidad</td>
        </tr>
        {% for h in horarios_atencion %}
            <tr class='{{ h|slice:"0:"|first }}'>
                <td>{{ h|slice:"1:"|first }}</td>
                <td>{{ h|slice:"2:"|first }}</td>
                <td>{{ h|slice:"3:"|first }}</td>
                <td>{{ h|slice:"4:"|first }}</td>
                <td>{{ h|slice:"5:"|first }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block pie_pagina %}
{% endblock %}
