{% extends 'base.html' %}

{% block cont_secundario %}
{% endblock %}

{% block contenido %}

<div align="left">
    <label>Medico: <strong>{{ med_name }}</strong></label>
</div>
<hr />

<!-- datos medico -->
<div id="datos" class="show_cont" align="center">
    <form action="/medicos/guardar/" method="POST" enctype="text/plain">
        <table style="text-align: left;" border="0" cellpadding="0" cellspacing="0">
            <tbody>

            <tr>
                <td colspan='2' class='tbl_separador'>
                <h5>Datos Personales</h5>
                </td>
            </tr>
            <tr>
                <td><label>Nombre:</label></td>
                <td><input type="text" name="nombre" value="{{ nombre }}" maxlength="" class='edt_m'/></td>
            </tr>

            <tr>
                <td><label>Apellido:</label></td>
                <td><input type="text" name="apellido" value="{{ apellido }}" maxlength="" class='edt_m'/></td>
            </tr>

           <tr>
            <td><label>Documento:</label></td>
            <td><input type="text" name="dni" value="{{ dni }}" class='edt_m' style="text-align: right"/></td>
            </tr>


            <tr>
            <td><label>Tipo:</label></td>
            <td><select name="tipo_doc" class="edt">
                {% for tipo in tipo_doc %}
                    <option value="{{ tipo|first }}">{{ tipo|slice:"1:"|first }}</option>
                {% endfor %}
                </select>
            </td>
            </tr>

            <tr>
            <td><label>Matricula:</label></td>
            <td><input type="text" name="matricula" value='{{ matricula }}' maxlength="" class='edt_m'/></td>
            </tr>

            <tr>
                <td><label>Direccion:</label></td>
                <td><input type="text" name="direccion" value="{{ direccion }}" maxlength="" class='edt_m'/></td>
            </tr>

            <tr>
                <td><label>Telefono:</label></td>
                <td><input type="text" name="telefono" value="{{ telefono }}" maxlength="" class='edt_m'/></td>
            </tr>

            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" name="email" value="{{ email }}" maxlength="" class='edt_m'/></td>
            </tr>

            <tr>
                <td><label>Sexo:</label></td>
                <td>
                <select name="sexo" class='edt_m'>
                    <option value='-'>-------</option>
                    <option value='M'>Masculino</option>
                    <option value='F'>Femenino</option>
                </select>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                <br />
                </td>
            </tr>
            <tr>
                <td colspan='2' align='center'>
                <input type="hidden" name="query" value="1"/>
                <input type="hidden" name="action" value="datos"/>
                <input type="hidden" name="med_id" value="{{ med_id }}"/>
                <input type="submit" name="Guardar" value="Guardar" class='boton'/>
                <input type="reset" name="Limpiar" value="Limpiar" class='boton'/>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
</div>

{% endblock %}

{% block pie_pagina %}
{% endblock %}
