{% extends 'base.html' %}

{% block cont_sec %}

{% endblock %}

{% block contenido %}
    <br />
    <br />
    <br />

    <div class='window' style="width:400px;">
    <div class="win_title_bar">
        <div class="window_title">
            <label>Nuevo Turno</label>
        </div>
    </div>
    <table>
    <form action="""" method="post"  >
        <tr>
        <td><label>Medico:</label></td>
        <td>
        <select name="pac_id" class="edt">
        {% for med in medicos %}
            <option value="{{ med.id }}">{{ med.nombre_completo }}</option>
        {% endfor %}
        </select>
        </td></tr>
        
        <tr><td><label>Paciente:</label></td>
        <td>
        <select name="pac_id" class="edt">
        {% for pac in pacientes %}
            <option value="{{ pac.id }}">{{ pac.nombre_completo }}</option>
        {% endfor %}
        </select>
        </td></tr>
        
        <tr><td><label>Fecha:</label></td><td><input name="fecha" class="edt_c" value="01/01/01" type="text"  /></td></tr>
        <tr><td><label>Comentario:</label></td><td><textarea name="comentario" type="textarea" class="edt" rows="3" cols="45" ></textarea></td></tr>
        <tr><td colspan="2"><input type="hidden" value="1" name="query"  /></td></tr>
        <tr><td colspan="2"><input type="hidden" value="{{ med_id }}" name="med_id"  /></td></tr>
        <tr><td colspan="2"><input type="hidden" value="{{ pac_id }}" name="pac_id"  /></td></tr>
        <tr><td colspan="2">
            <input type="submit" value="Crear" class="boton" />
            <input type="reset" value="Limpiar" class="boton" />
        </td></tr>
    </form>
    </table>

    {% if query %}
        <div class="{{ msj_class }}">
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}
    </div>

{% endblock %}
