{% extends 'base.html' %}

{% block cont_sec %}

{% endblock %}

{% block contenido %}
    <div align='center'>
    <table>
    <form action="""" method="post"  >
        <tr><td colspan="2">
            <label>Medico: {{ med_name }} - Paciente: {{ pac_name }}</label>
        </td></tr>
        <tr><td><label>Fecha</label></td><td><input name="fecha" class="edt" value="01/01/01" type="text"  /></td></tr>
        <!--tr><td><label>Paciente</label></td><td><input name="medico" class="edt" type="text"  /></td></tr>
        <tr><td><label>Medico</label></td><td><input name="medico" class="edt" type="text"  /></td></tr -->
        <tr><td><label>Comentario</label></td><td><textarea name="comentario" type="textarea" class="edt"  ></textarea></td></tr>
        <tr><td colspan="2"><input type="hidden" value="1" name="query"  /></td></tr>
        <tr><td colspan="2"><input type="hidden" value="{{ med_id }}" name="med_id"  /></td></tr>
        <tr><td colspan="2"><input type="hidden" value="{{ pac_id }}" name="pac_id"  /></td></tr>
        <tr><td colspan="2">
            <input type="submit" value="Crear" class="boton" />
            <input type="reset" value="Limpiar" class="boton" />
        </td></tr>
    </form>
    </table>

    {% if query %}
        <div class="{{ msj_class }}">
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}
    </div>

{% endblock %}
