{% extends 'medicos/historia_clinica/ver-historia-clinica.html' %}

{% block contenido %}
<div align='right'>
    <hr />
    <a href="/historia-clinica/nueva-consulta/?pac_id={{ pac_id }}" class="boton">Nueva Consulta Medica</a>
    <hr />
</div>

    <table>
        <tr>
            <td colspan="5" class='tbl_separador' width="600px" border="1px"><h5>Consultas Medicas</h5></td>
        </tr>

        <tr class='table_title' align="center">
            <td width="70px">Fecha</td>
            <td>Medico</td>
            <td style="width:70px; text-align:center;">Mostrar</td>
            <td style="width:70px; text-align:center;">Modificar</td>
            <td style="width:70px; text-align:center;">Borrar</td>
        </tr>
        {% for cons in consultas %}
        <tr>
            <td>{{ cons.fecha_ }}</td>
            <td>{{ cons.medico.nombre_completo }}</td>
            <td align="center"><a href="/historia-clinica/mostrar-consulta/?pac_id={{ pac_id }}&cons_id={{ cons.id }}"><img src="/site_media/imagenes/icon_ver.png"></a></td>
            <td align="center"><a href="/historia-clinica/modificar-consulta/?pac_id={{ pac_id }}&cons_id={{ cons.id }}"><img src="/site_media/imagenes/icon_edit.png"></a></td>
            <td align="center"><a href=""><img src="/site_media/imagenes/icon_borrar.png"></a></td>
        </tr>
        {% endfor %}
    </table>
    

{% endblock %}
