{% extends 'base.html' %}

{% block cont_secundario %}
{% endblock %}

{% block contenido %}

<script type="text/javascript" src="/site_media/scripts/validate-form.js"></script>
<script type="text/javascript">
var validator = new Validator([
    ['nombre', {'method': 'min_lenght', 'lenght':3, 'cont_id':'error', 'msj_error':'Error campo demaciado Corto'}],
]);
        
function validar(form_id) {
    var form = document.getElementById(form_id);
    if (validator.eval_fields()) {
        form.submit();
    } 
}

function limpiar() { validator.clear_all_cont() }
</script>

    <div align='center'>
    {% if nivel_2 %}
        <form action='/medicos/especialidades/agregar/' id="mi_form" method='post'> <!--onSubmit="return (validar());"-->
            <label>Expecialidad</label>
            <input type='text' name="nombre" id="nombre" value="" class="edt"/><br />
            <span id="error"></span>
            <input type="hidden" name="query" value="1"/>
            <br />
            <input type='button' value='Agregar' class='boton' onClick="validar('mi_form')"/>
            <input type='Reset' value='Limpiar' class='boton' onClick="limpiar()"/>
            
        </form>

        {% if query %}
            <br /><br />
            <div class='{{ msj_class }}'>
            <p>{{ mensaje }} </p>
            </div>
        {% endif %}
    {% else %}
        <p>No tienes permisos para acceder a esta area.</p>
    {% endif %}
    </div>
{% endblock %}
