body {
    background-color: #383838;
    font-family: "Lucida Grande", Verdana, "DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif;
    font-size: 90%;
}


h1, h2, h3, h4, h5 {
    font-family: "DejaVu Sans", Verdana, "Bitstream Vera Sans", Arial,sans-serif;
    text-align: center;
}


h1, h2, h3 {
    margin-top: 3px;
}

h3 {
    background-color: #005782;
    color: #FFF;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}

a img {
    border: 0px;
}


h1, h2 {
    font-size: 22px;
    color: #3C3C3C;
    margin-left: 50px;
    margin-right: 50px;
    text-shadow: 2px -2px 1px #C3C3C3;
}

a{
    text-decoration: None;
}

label {
    font-size: 11px;
}

/*contenedores principales*/
.celda_superior {
    background-color: #005782; /* url('/site_media/imagenes/baner_bg.png');*/
    background-repeat: x-repeat;
    /*font-size: 85%;*/
}


.celda_izquierda {
    background-color: rgb(255, 255, 255);
    /*text-align: center;*/
    font-size: 80%;
}


.celda_central_index {
    background-image: url('../imagenes/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    font-size: 85%;
}


.celda_central {
    background-color: rgb(255, 255, 255);
    /*font-size: 85%;*/
    padding: 10px;
}


.celda_inferior {
    background-color: rgb(255, 255, 255);
    font-size: 80%;
}


/*para los mensaje de error*/
.msj_error {
    background-image: url('../imagenes/symbol_delete.png');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 48px;
    text-align:center;
    background-color: #ECEFF2;
    color: #000; /*FFFFFF;*/
    width: 300px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
    border: 1px solid #F76A0D;

    -moz-border-left-radius: 5px;
    -webkit-border-radius: 5px;
    behavior:url(border-radius.htc);
}


.msj_ok{
    background-image: url('../imagenes/symbol_check.png');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 48px;
    text-align: center;
    background-color: #ECEFF2;
    color: #000;
    width: 300px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
    border: 1px solid #48A4FF;

    margin-top: 5px;
    margin-bottom: 5px;

    -moz-border-left-radius: 5px;
    -webkit-border-radius: 5px;
    behavior:url(border-radius.htc);
}


.cont_flotante {
    margin-top: 100px;
    background-color: #ECEFF2;
    width: 300px;
    /*border: 1px solid #B3B4B5;*/
    -moz-border-left-radius: 10px;
    -webkit-border-radius: 10px;
    behavior:url(border-radius.htc);
}


.cont_flotante label{
    font-size: 75%;
}


.contenedor {
    /*margin-top: 100px;*/
    background-color: #F4F6F8;
    width: 300px;
    /*border: 1px solid #B3B4B5;*/
    -moz-border-left-radius: 10px;
    -webkit-border-radius: 10px;
    behavior:url(border-radius.htc);
}


/* titulos vent imagina */
.title_ventana {
    font-family: Verdana;
    font-weight: bold;
    font-size: 18px;
    text-align:center;
    background-color: #5392D4;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 0px 10px 0px;
}

/*
.offline, .online {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.online {
    font-weight: bold;
    text-align: center;
    background-color: #00FF00;
    margin-left: 50px;
    margin-right: 50px;
}

.offline {
    font-weight: bold;
    text-align: center;
    background-color: #FF0000;
    margin-left: 50px;
    margin-right: 50px;
}
*/

.tbl_separador {
    background-color: #5392D4;
    color: #FFFFFF;
}

.tbl_separador h5{
    text-align:0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* filas de colores de las tablas */

.table_title {
    background-color: #DCE5E8;
    font-size: 12px;
    font-weight: bold;
    color: #4985C1;
}

.field_a, .field_b {
    font-size: 11px;
    /*text-align: left;*/
    padding-left: 5px;
    padding-right: 5px;
}

.field_a {
    /*background-image: url('../imagenes/field_a.png');*/
    /*background-color: #EEE;*/
    background-color: #EEE;
}

.field_b {
    /*background-image: url('../imagenes/field_b.png');*/
    /*background-color: #DFF1F7;*/
    background-color: #DFF1F7;
}

.field_a a, .field_b a {
    color: #344E70;
    text-decoration: none;
}

.field_a a:hover, .field_b a:hover {
    color: #1E90FF;
    font-weight: bold;
}

/*** estilo Boton ***/
.boton, .mini_boton {
    background-image: url('../imagenes/boton_a.png');
    color: #333;
    height: 32px;
    /*width: 120px;*/
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #AAA;
    height: 28px;

    -webkit-text-shadow: 1px 1px 5px #858585;
    -moz-text-shadow: 1px 1px 5px #858585;
    text-shadow: 1px 1px 5px #858585;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mini_boton {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    margin-left: 5px;
}

.boton:hover, .mini_boton:hover {
   background-image: url('../imagenes/boton_h.png');

    -webkit-box-shadow: -1px -1px 5px #858585;
    -moz-box-shadow: -1px -1px 5px #858585;
    box-shadow: -1px -1px 5px #858585;
}

.boton img, .mini_boton img{
    margin: 0px;
}
/*** Fin Estilo Boton***/


.edt, .edt_mc, .edt_c, .edt_m, .edt_g {
    margin-left: 10px;
    margin-bottom: 3px;
    font-family: Verdana;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #B0B0B0;

    -webkit-box-shadow: 1px 1px 5px #858585;
    -moz-box-shadow: 1px 1px 5px #858585;
    box-shadow: 1px 1px 5px #858585;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.edt:focus, .edt_mc:focus, .edt_c:focus, .edt_m:focus, .edt_g:focus{
    border: 1px solid #000;
}

.no_edt {
    border: 0px;
}

/*.edt {
}*/
.edt_mc {
    width: 30px;
}


.edt_c {
    width: 70px;
}

.edt_m {
    width: 150px;
}

.edt_g {
    width: 300px;
}

/* menu css */
.title_menu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    Cursor : pointer;
    
}

.title_menu a{
    background-image: url('/site_media/imagenes/bg_off.gif');
    background-color: transparent;
    background-position: top left;
    background-repeat: x-repeat;
    text-decoration: None;
    color: #151515;
    padding:6px 5px 0 5px;
    /*width: 160px;*/
    display: block;
    height: 18px;
    margin: 0px;
}

.title_menu a:hover{
    background-image:url('/site_media/imagenes/bg_on.gif');
    color: #FFF;
}


.nav_menu, .menu_nav {
    margin: 0px;
    padding: 0px;
    /*width: 160px; /*For KHTML*/
    list-style: none;
    margin-bottom: 3px;
}


.nav_menu li {
    /*background-color: #F3F3F3;*/
    background-color: #EBF1F0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: None;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 6px;
    border-right: 1px solid #0080FF;
    border-left: 1px solid #0080FF;
    border-top: 1px solid #CCC;
    margin-top: -1px;
    border-bottom: 1px solid #0080FF;
    width: 160px;
    display: block;
}

.nav_menu li:hover {
    background-color: #11324A;
    color: #202020;
}

.nav_menu a {
    color: #00356A;
    /*font-weight: bold;*/
}

.nav_menu a:hover {
    color: #FFF;
}

.hide_nav_menu {
    display: none;
}

.show_cont {
    display: block;
}

.hide_cont {
    display: none;
}



/* menu css */


.cat_title {
    font-size: 14px;
    text-align: left;
    border-top: 1px solid #0080FF;
    border-left: 1px solid #0080FF;
    border-right: 1px solid #0080FF;
    padding: 0px 5px 0px 5px;
}

.cat_link {
    font-size: 10px;
    text-align: right;
    border-top: 1px solid #0080FF;
    border-left: 1px solid #0080FF;
    border-right: 1px solid #0080FF;
    padding: 0px 5px 0px 5px;
}

.cat_link:hover {
    padding-top: 2px;
    border-top: 3px solid #0061C1;
}

.cat_line {
    border-bottom: 1px solid #0080FF;
}

/* copy */
p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.login_rect {
    font-size: 8px;
    background-color: #FFF;
    border: 1px solid #D4D4D4;
    color: #383838;
    text-transform: UPPERCASE;
    padding: 1px 2px 2px 2px;
    vertical-align: middle;
    float: right;
}

.login_rect img {
    padding-bottom: 3px;
    padding-right: 3px;
}

.recuadro {
    width: 200px;
    text-align: center;
    border: 2px solid #B0B0B0;

    padding-top: 30px;
    padding-bottom: 30px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /*margin-left: 10px;
    margin-right: 10px;*/
    margin-bottom: 10px;
    
}

.recuadro:hover {
     border: 2px solid #373737;
}


.recuadro a {
    font-weight: bold;
    color: #1F1F1F;

    -webkit-text-shadow: 1px 1px 5px #858585;
    -moz-text-shadow: 1px 1px 5px #858585;
    text-shadow: 1px 1px 5px #858585;
}

.recuadro a:hover {
    color: #5F93B2;
}

.field_link {
    border: 1px solid #CACACA;
    width: 400px;
    padding: 2px 10px 2px 10px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/*** Estilo Ventana ***/
.window {
    font-family: Verdana;
    font-size: 12px;
    background-color: #E8F3FF;
    border: 1px solid #C5C5C5;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior:url(border-radius.htc);

    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    display: block;
}

.win_title_bar {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #B9DAFF;
    height: 16px;
}

.window_title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #004D71;
    /*width: 70%;*/
    float:left;
}

.barra_superior {
    padding-top: 10px;
    padding-right: 30px;
    text-align: right;
    background-color: #005782;
    height: 32px;
}
/*** Fin Estilo Ventana ***/ 

/*** Estilo para Pestañas ***/
.tab_list {
    list-style: none;
    padding: 0px;
    margin: px;
    border-bottom: 1px solid #AAA;
}

.tab_list li {
    display:inline;
    margin: 0px;
}


.tab, .select_tab {
    background-image: url('../imagenes/boton_a.png');
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    
    
    margin: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
}

.tab:hover, .select_tab {
   background-image: url('../imagenes/boton_h.png');
}

.tab img{
    margin: 0px;
}

/*** Fin Estilo Pestañas***/


/** Date Picker estilo **/

/* DatePicker Container */
#datepicker {
    background-color: #F5F5F5;
    font-family: Verdana;
    font-size: 11px;
}

/* Caption */
#datepicker caption {
    font-size: 12px;
    background-color: #004F75;
    color: #FFF;
}

#datepicker a {
    color: #0080C0;
    text-decoration: None;
}

/* Saturday and Sunday */
#datepicker a.day6,#datepicker a.day0 {
    color: #454545;
}
			
#datepicker caption a.previous {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding-left: 4px;
}
			
#datepicker caption a.next {
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    padding-right: 4px;
}

#datepicker .footer {
    padding-top: 3px;
    border-top: 1px solid #AAA;
    height: 1.2em;
}

#datepicker .footer div {
    width: 6em;
    text-align: center;
    float: left;
}

#datepicker .footer a {
    display: block;
    width: 100%;
    height: 100%;
}
/** Date Picker estilo **/


/*** NicEditor Estilo ***/

.nicEdit-selected {
    background-color: #FFF !important;
    border: 2px solid #97CBFF !important;
}
/*** NicEditor Estilo ***/


/*** FielValidator ****/
.field_error {
    background-color: #F0F000;
    background-image: url('../imagenes/error.png');
    background-position:left center;
    background-repeat: no-repeat;
    color: #000;
    font-family: Verdana;
    font-size: 10px;
    border: 1px solid #FF8040;
    padding: 2px;
    padding-left: 14px;
    margin: 0px;
    margin-top: 3px;
    max-width: 400px;
}

/*** FielValidator ****/

title-col {

}

.listado-pac {
    margin: 3px;
    padding: 0px;
    list-style-type: none;
}

.listado-pac li {
    text-align: left;
    margin-bottom: 2px;
}

.listado-pac li:hover {
    background-color: #DADFEA;
}

.listado-pac li a {
    text-align: left;
    color: #57574C;
}















