{% extends 'base.html' %}

{% block cont_sec %}

{% endblock %}

{% block contenido %}
    <div align='center'>
    <form action="" method="POST" enctype="text/plain">
    <table style="text-align: left;" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan='2' class='tbl_separador'>
            <h5>Datos Cuenta</h5>
            </td>
        </tr>
        <tr>
            <td><label>Usuario:</label></td>
            <td><input type="text" name="usuario" maxlength=""/></td>
        </tr>
        <tr>
            <td><label>Contraseña:</label></td>
            <td><input type="password" name="password_1" maxlength=""/></td>
        </tr>
        <tr>
            <td><label>Repetir Contraseña:</label></td>
            <td><input type="password" name="password_2" maxlength=""/></td>
        </tr>

        <tr>
            <td colspan='2' class='tbl_separador'>
            <h5>Datos Paciente</h5>
            </td>
        </tr>
        <tr>
            <td><label>Nombre:</label></td>
            <td><input type="text" name="nombre" maxlength=""/></td>
        </tr>

        <tr>
            <td><label>Apellido:</label></td>
            <td><input type="text" name="apellido" maxlength=""/></td>
        </tr>

        <tr>
            <td><label>DNI:</label></td>
            <td><input type="text" name="dni" maxlength=""/></td>
        </tr>

        <tr>
            <td><label>Direccion:</label></td>
            <td><input type="text" name="direccion" maxlength=""/></td>
        </tr>

        <tr>
            <td><label>Telefono:</label></td>
            <td><input type="text" name="telefono" maxlength=""/></td>
        </tr>

        <tr>
            <td><label>Email:</label></td>
            <td><input type="text" name="email" maxlength=""/></td>
        </tr>

        <tr>
            <td><label>Sexo:</label></td>
            <td><input type="text" name="sexo" maxlength=""/></td>
        </tr>

        <tr>
        <tr>
            <td colspan='2'>
            <br />
            </td>
        </tr>
        <td colspan='2' align='center'>
            <input type="hidden" name="query" value="1"/>
            <input type="submit" name="Agregar" value="Agregar" />
            <input type="reset" name="Limpiar" value="Limpiar" />
        </td>
        </tr>
        </tbody>
    </table>
    </form>

    {% if query %}
        <div class="{{ msj_class }}">
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}
    </div>

{% endblock %}
