{% extends 'base.html' %}

{% block cont_secundario %}
{% endblock %}

{% block contenido %}

<table style="text-align: center;" width="600px" border="0" cellpadding="0" cellspacing="1">
    <tbody>
        <tr class='table_title'>
            <td>Usuario</td>
            <td>Nombre y Apellido</td>
            <td>Ver</td>
            <td>Modificar</td>
            <td>Borra</td>
        </tr>
        {% for adm in listado_admins %}
            <tr class='{{ adm|slice:"3:"|first }}'>
                <td>{{ adm|slice:"1:"|first }}</td>
                <td>{{ adm|slice:"2:"|first }}</td>
                <td><a href='/administrativos/datos/{{ adm|first }}/'><img src='/site_media/imagenes/icon_ver.png'></a></td>
                <td><a href='/administrativos/modificar/{{ adm|first }}/'><img src='/site_media/imagenes/icon_edit.png'></a></td>
                <td><a href='/administrativos/borrar/{{ adm|first }}/'><img src='/site_media/imagenes/icon_borrar.png'></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block pie_pagina %}
{% endblock %}
