{% extends 'base.html' %}

{% block cont_sec %}

{% endblock %}

{% block contenido %}

<script type="text/javascript" src="/site_media/scripts/validate-form.js"></script>
<script type="text/javascript">
var validator = new Validator([
    ['usuario', {'method': 'min_lenght', 'lenght':5, 'cont_id':'error_1', 'msj_error':'Error El nombre de usuario debe tener una longitud de entre 5 y 16 caracteres'}],
    ['password_1', {'method': 'min_lenght', 'lenght':6, 'cont_id':'error_2', 'msj_error':'Error la contraseña debe tener una longitud de entre 6 y 16 caracteres'}],
    ['password_2', {'method': 'cmp_field', 'field_cmp':'password_1','cont_id':'error_3', 'msj_error':'La Nueva Contraseña no coincide'}],
]);
        
function validar(form_id) {
    var form = document.getElementById(form_id);
    if (validator.eval_fields()) {
        form.submit();
    } 
}
function limpiar() { validator.clear_all_cont() }
</script>


    <div align='center'>
    <form action="" method="POST" enctype="text/plain" id="form">
    <table style="text-align: left;" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan='2' class='tbl_separador'>
            <h5>Datos Cuenta</h5>
            </td>
        </tr>
        <tr>
            <td><label>Usuario:</label></td>
            <td><input type="text" name="usuario" id="usuario" class='edt_m'/></td>
        </tr>
        <tr><td colspan="2"><span id="error_1"></span></td></tr>
        <tr>
            <td><label>Contraseña:</label></td>
            <td><input type="password" name="password_1" id="password_1" class='edt_m'/></td>
        </tr>
        <tr><td colspan="2"><span id="error_2"></span></td></tr>
        <tr>
            <td><label>Repetir Contraseña:</label></td>
            <td><input type="password" name="password_2" id="password_2" class='edt_m'/></td>
        </tr>
        <tr><td colspan="2"><span id="error_3"></span></td></tr>
        
        <tr>
            <td colspan='2' class='tbl_separador'>
            <h5>Datos Paciente</h5>
            </td>
        </tr>
        <tr>
            <td><label>Nombre:</label></td>
            <td><input type="text" name="nombre" maxlength=""class='edt_m'/></td>
        </tr>

        <tr>
            <td><label>Apellido:</label></td>
            <td><input type="text" name="apellido" maxlength=""class='edt_m'/></td>
        </tr>

        <tr>
            <td><label>Documento:</label></td>
            <td><input type="text" name="dni" value='0' maxlength=""class='edt_m' style="text-align: right"/></td>
        </tr>


        <tr>
            <td><label>Tipo Doc:</label></td>
            <td><select name="tipo_doc" class="edt">
                {% for tipo in tipo_doc %}
                    <option value="{{ tipo|first }}">{{ tipo|slice:"1:"|first }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td><label>Direccion:</label></td>
            <td><input type="text" name="direccion" maxlength=""class='edt_m'/></td>
        </tr>

        <tr>
            <td><label>Telefono:</label></td>
            <td><input type="text" name="telefono" maxlength=""class='edt_m'/></td>
        </tr>

        <tr>
            <td><label>Email:</label></td>
            <td><input type="text" name="email" maxlength=""class='edt_m'/></td>
        </tr>

        <tr>
            <td><label>Sexo:</label></td>
            <td>
            <select name="sexo" class="edt">
                <option value='-'>-------</option>
                <option value='M'>Masculino</option>
                <option value='F'>Femenino</option>
            </select>
            </td>
        </tr>

        <tr>
        <tr>
            <td colspan='2'>
            <br />
            </td>
        </tr>
        <td colspan='2' align='center'>
            <input type="hidden" name="query" value="1"/>
            <input type='button' value='Agregar' class='boton' onClick="validar('form')"/>
            <input type='Reset' value='Limpiar' class='boton' onClick="limpiar()"/>
        </td>
        </tr>
        </tbody>
    </table>
    </form>

    {% if query %}
        <div class="{{ msj_class }}">
            <p>{{ mensaje }}</p>
        </div>
    {% endif %}
    </div>

{% endblock %}
